
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
   
}
body{
    
    font-family: 'Jost', sans-serif;
    background-color: var(--bg-1);
}   
a{
    text-decoration: none;
}

li{
    list-style: none;
}
h2{
    font-size: 4rem;
}
h3{
    font-size:2rem;
}
h4{
    font-size: 1.1rem;
}
h5{
    font-size: 1rem;
}
:root{
    --bg-1: #FAFAFA;
    --bg-2: #F4F4F4;
    --main-b:#003A78;
    --main-r:#CF3339;
    --shadow:0px 3px 6px rgba(0, 0, 0, .16); 
}
.bor-10{
    border-radius: 10px;
}
.bor-15{
    border-radius: 15px;
}


.bordered{
    height: 1px;
    width: 100%;
    background-color: #CBCBCB;
}

@media (min-width: 1200px)
{

	.container.body-1
	{
		max-width: 1180px;
	}
    .container.body-2
	{
		max-width: 1480px;
	}
	.container.body-3
	{
		max-width: 800px;
	}
	.container.body-4
	{
		max-width: 970px;
	}
	.container.body-5
	{
		max-width: 1371px;
	}
	.container.body-6
	{
		max-width: 1412px;
	}
	.container.body-7
	{
		max-width: 1300px;
	}
	.container.body-8
	{
		max-width: 900px;
	}
	.container.body-9
	{
		max-width: 1580px;
	}
	.container.body-10
	{
		max-width: 1680px;
	}
	.container.body-11
	{
		max-width: 1127px;
	}
	.container.body-12
	{
		max-width: 1710px;
	}
	.container.body-13
	{
		max-width: 1410px;
	}
	.container.body-14
	{
		max-width: 840px;
	}
	.container.body-15
	{
		max-width: 1030px;
	}
	.container.body-16
	{
		max-width: 1820px;
	}
    .container.body-17
    {
        max-width: 1230px;
    }
    .container.body-18
    {
        max-width: 1500px;
    }
}

/* body */

.main .banner{
    background-image: url(../../frontend/images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    padding-top: 114px;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.main .banner header{
    margin: 0px 128px 0px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: .6s;
    z-index: 999;
}
header.sticky{
    margin: 0!important;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    padding: 0 25px;
    height: 100px!important;
    width: 100%;
    background-color: rgba(0, 58, 120, .7);

    backdrop-filter: blur(10px);
   
}
header .logo-banner{
    background: url(../../frontend/images/logo-bonapart.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 166px;
    height: 42px;
    margin-right: 30px;
}
header .hamburger-menu{
    background: url(../../frontend/icons/burger-menu.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 61px;
    height: 39px;
}
.banner .search-bar-banner{
    margin: 0 auto;
    height: 60px;
    width: 500px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    position: relative;
}
.banner .search-bar-banner input{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: brightness(160%);
    font-style: italic;

    padding: 20px 0px 20px 40px;
}
.banner .search-bar-banner input::placeholder{
    color: #000;
    font-weight: 300;
}

.banner .search-bar-banner a{
    width: 66px;
    height: 60px;
    display: block;
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
}
.banner .search-bar-banner img{
    width: 100%;
    object-fit: cover;
}
header .navigation ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
}
header .navigation ul li{
    list-style: none;
    display: inline-block;
    width: 50px;
}
header .navigation ul li:not(:last-child){
    margin-right: 25px;
}
header .navigation ul li:last-child{
    margin-left: 25px;
}
header .navigation ul li a{
    color: #fff;
    font-style: italic;
    font-weight: 400;
}

/* media screen settings */
@media screen and (max-width:1400px){
    .main .banner header{
        margin: 0px 80px 0px;
    }
    .main .banner header ul{
        padding: 0;
        margin: 0;
    }
    .main .banner header nav{
        display: none;
    }
    
}
@media screen and (max-width:1200px){

    .main .banner{
        padding-top: 50px;
    }
}
@media screen and (max-width:850px){
    header{
        justify-content: space-between;
    }
    .banner header .search-bar-banner{
        position: absolute;
        width: 70%!important;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    header.sticky .search-bar-banner{
        display: none;
    }
}
@media screen and (max-width:769px){
    header .search-bar-banner{
        width: 75%!important;
    }
}
@media screen and (max-width:500px){
    header{
        margin:0 25px!important;
    }
    .banner .search-bar-banner{
        width: 90%!important;
    }
}

/* slider area */


.main .banner .banner-slider::before{
    content: "";
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: rgba(255, 255, 255, .5);
    top: 44.4%;
    left: 5%;
    
}
.main .banner .banner-slider .banner-s-product-class-section{
    width: 1234px;
    height: 132px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.main .banner .banner-slider .banner-s-product-class-section .product-class{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    height: 132px;
    color: #fff;
    margin: 0 23px;
    padding: 14px;
    cursor: pointer;
}
.main .banner .banner-slider .banner-s-product-class-section .product-class .product-image{
    margin-bottom: 20px;
    width: 60px;
    height: 60px;
    padding: 12px;
}

.main .banner .banner-slider .banner-s-product-class-section .product-class img{
    width: 36px;
    height: 36px;

    object-fit: contain;
}
.main .banner .banner-slider .banner-s-product-class-section .product-class span{
    line-height: 22px;
    font-size: 17px;
    width: 80px;
    text-align: center;
    padding: 5px 0px;
    line-height: 14px;
}

.banner-s-product-class-section .product-class .border-div{

    border: 1px solid #fff;
}
.banner-s-product-class-section .product-class .product-name-border{
    border-top: 2px solid #fff;

}


.active{
    background-color: var(--main-r);
    border-radius: 10px;
}

.banner-s-product-class-section .product-class.active .product-image{
    margin-bottom: 5px!important;
}
.banner-s-product-class-section .product-class:active.border-div{
    border: none;
}
.banner-s-product-class-section .product-class:active.product-name-border{
    border:none;
}


.arrowLeft,.arrowRight{
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 35%;
    cursor: pointer;
}
.arrowLeft{
    background: url(../../frontend/icons/double-l.png);
    left: 5%;
}
.arrowRight{
    background: url(../../frontend/icons/double-r.png);
    right: 5%;
}
@media screen and (max-width:1600px) {
    .arrowLeft,.arrowRight{
        display: none;
    }
}
@media screen and (max-width:1200px) {
    .main .banner .banner-slider::before{
        width: 97.5%;
        left:1.25%;
    }
    .arrowLeft,.arrowRight{
        display: none;
    }
}

@media screen and (max-width:768px) {
    .banner-slider .slick-dots {
        bottom: -45px;
    }
}

.burger-open{
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    background-color: rgba(0, 58, 120, .8);
    z-index: 999;
    height: 100vh;
     
}
.burger-open .burger-close{
    position: absolute;
    top: 5%;
    right: 0%;
    margin-right: 120px;
    font-size: 150px;
    color: #fff;
    font-weight: 100;
    cursor: pointer;
    transform: rotate(45deg);
}
.burger-open .container{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 850px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;

}
.burger-open .container .search-bar-banner{
    margin-bottom: 20px;
    background-color: #fff;
    height: 80px;
    width: 850px;
}

.burger-open .container .search-bar-banner input::placeholder{
    font-weight: 600;
    font-style: normal;
}
.burger-open .container .search-bar-banner a{
    width: 86px;
    height: 80px;
}
.burger-open .container .search-mean{
    margin-left: 25px;
}
.burger-open .container .search-mean p{
    color: #fff;
    font-weight: 300;
}
.burger-open .container .search-mean p:first-child span{
    font-style: italic;
    font-weight: 600;
}
@media screen and (max-width:768px) {
    .burger-open .container{
        width: 90%;
    }
    .burger-open .container .search-bar-banner{
        width: 90%;
    }
    .burger-open .container .search-mean{
        margin-left: 45px;
    }
}
@media screen and (max-width:450px) {
    .burger-open .container{
        width: 95%;
    }
    .burger-open .container .search-bar-banner{
        width: 95%;
        height: 60px;
        margin-bottom: 30px;
    }
    .burger-open .container .search-mean{
        margin-left: 45px;
    }
    .burger-open .container .search-bar-banner a{
        width: 61px;
        height: 55px;
    }
    .burger-open .container .search-mean p{
        margin-bottom: 25px;
    }
    .burger-open .container .search-bar-banner input::placeholder{
        font-size: 13px;
        font-weight: 400;
        font-style: normal;
    }
    .burger-open .container .search-bar-banner input {
        padding-left: 10px;
        margin-right: 50px;
    }
    .burger-open .burger-close{
        position: absolute;
        font-weight: 200;
        margin-right: 90px;
        font-size: 100px;

    }
}
                    

  /* slick settings */
.banner .slick-dots li{
    margin-right: 25px!important;
  }
.banner .slick-dots li.slick-active button:before {
    opacity: 1;
    background-color: #FFF!important;
}
.banner .slick-dots li button:before {
    font-family: 'slick';
    top: 50%!important;
    left: 0;
    width: 40px!important;
    height: 5px!important;
    content: ''!important;
    opacity: .50;
    background-color:#fff!important;
}

.banner .slick-next:before {
    content: ''!important;
}
.banner .slick-prev:before {
    content: ''!important;
}
.banner .slick-prev:before, .slick-next:before {
    position: absolute!important;
    width: 45px!important;
    height: 45px!important;
    border-radius: 50%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    top: 80%;
    cursor: pointer;
    transform: translateX(-23px);
}
.banner .slick-prev:before{
    background-image: url(../../frontend/icons/double-l.png)!important;
}
.banner .slick-next:before{
    background-image: url(../../frontend/icons/double-r.png)!important;
}


/*2- call section area- */
.main .banner .banner-slider{
    height: 325px;
    margin:0px 82px;
    background: rgba(7, 47, 72, .42);
    border-radius: 15px 15px 0px 0px;
    padding: 50px 87px 0px;
    position: relative;
}
.main .banner .banner-filter{
    height: 325px;
    margin:0px 82px;
    background: rgba(7, 47, 72, .42);
    border-radius: 15px 15px 0px 0px;
    padding: 30px 87px 0px;
    position: relative;
}
.product-search-area{
    min-width: 1670px;
    height: 500px;
    margin-top: -100px;
    position: relative;
    z-index: 2;
    padding: 57px 132px 0px 132px;
    display: flex;
    flex-direction: column;
}

/* page 2 */
.filter-item-section .product-search-area{
    height: 100%;
    margin-bottom: 90px;

    margin-top: -239px;
}
.filter-item-section .product-search-area::before{
    position: absolute;
    content: "";
    background-color: var(--bg-2);
    width: 100%;
    height: 32%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10px;
}
.filter-item-section .product-search-area::after{
    content: "";
    position: absolute;
    left: 0;
    height: 1px;
    background-color: #707070;
    z-index: 100;
    width: 100%;
    top: 275px;
}

.filter-item-section #open-search{
    background-color: transparent;
    padding-top: 0;
}
.filter-item-section #open-search .item-box{
    background-color: #fff;
    box-shadow: none;
    border: none;
}

.search-breadcrumb{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-style: italic;
}
.search-breadcrumb .breadcrumb-left,
.search-breadcrumb .breadcrumb-right,
.search-breadcrumb span{
    font-size: 20px;
    font-weight: 300;
}

@media screen and (max-width:1400px) {
    .filter-item-section .product-search-area::after{
        top: 300px;
    }
}
@media screen and (max-width:1200px) {
    .main .banner .banner-slider, .main .banner .banner-filter{
        margin:0px auto;
        width: 80%;
        
    }
    .main .banner .banner-filter{
        padding: 30px 30px 0px;
    }
    .filter-item-section .product-search-area::after{
       display: none;
    }
    .search-breadcrumb .breadcrumb-left,
    .search-breadcrumb .breadcrumb-right,
    .search-breadcrumb span{
        font-size: 15px;
    }
}
       



#check-filter-area .check-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid #707070;
    padding: 15px;
    position: relative;
}
#check-filter-area .check-list:not(:last-child){
    margin-bottom: 35px;
}
#check-filter-area h5{
    font-size: 20px;
    color: var(--main-b);
    letter-spacing: -1px;
}
#check-filter-area .check-list::after{
    content: "";
    position: absolute;
    right: 8px;
    top: 5px;
    background-color: var(--main-b);
    width: 2px;
    height: 60%;
}
#check-filter-area .check-list label{
    font-size: 15px;
    color: #707070;
    margin-left: 25px;
}
#check-filter-area .check-list label::before{
    content: "";
    background-image: url(../../frontend/icons/check-before.png);
    height: 17px;
    width: 17px;
    position: absolute;
    margin-left: -25px;
    margin-top: 2px;
    z-index: 5;
}
#check-filter-area .check-list input{
    position: absolute;
    cursor: auto;
    opacity: 0;
}
#check-filter-area .check-list input:checked + label::before{
    content: "";
    background-image: url(../../frontend/icons/check-after.png);
    background-repeat: no-repeat;
    height: 25px;
    width: 20px;
    position: absolute;
    margin-left: -25px;
    margin-top: 2px;
    z-index: 5;
}

#check-filter-area input[type=text]{
    width: 100%;
    outline: none;
    border: 1px solid #707070;
    background: transparent;
    height: 50px;
    padding: 15px;
}
#open-search .dropdown-toggle{
    cursor: pointer;
    background: transparent!important;
    color: inherit!important;
    border: 1px solid #c3c3c3!important;
    font-weight: 300;
}
.product-search-area .dropdown-item{
    font-size: 15px!important;
    color: #000!important;
    font-size: normal!important;
    font-style: normal!important;

}
.product-search-area .dropdown-toggle::after {
    margin-left: 1.5em!important;
}
.product-search-area .page-number{
    margin-bottom: 28px;
    font-size: 15px;
}
.product-search-area .page-number span{
    font-size: 15px;
}
.product-search-area .product-found,.product-search-area .product-found span{
    font-size: 15px!important;
    color: #707070;
    font-style: italic;
}
.design-buttons{
    height: 30px;
    margin-left: 20px;
    color: var(--main-r);
}
.design-buttons .design-1, .design-buttons .design-2{
    padding: 5px;
    cursor: pointer;
}

.design-buttons .item.active{
    background-color: #fff;
    border: 1px solid var(--main-r);
    border-radius: 0!important;
}


#open-search .bordered{
    height: 2px;
    background-color: #707070;
    margin-top: 20px;
}

#open-search .page-next{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
#open-search .page-next .page-box{
    width: 32px;
    height: 32px;
    border: 1px solid #707070;
    font-size: 15px;
    color: #000;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#open-search .page-next .page-box-number.active{
    background-color: var(--main-r);
    color: #fff;
    border-radius: 0px;
}
#open-search .page-next .page-box:not(:last-child){
    margin-right: 5px;
}
#open-search .page-next .left,
#open-search .page-next .right{
    border: none;
    background-color:var(--main-b);
    color: #fff;
    font-size: 11px;
}

@media screen and (max-width:1620px) {
    .design-buttons{
        display: none!important;
    }
}
/* ----- */

.product-search-area.active-before::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-color: var(--bg-2);
    z-index: -1;
    border-radius: 10px;
}
.product-search-area.active-before-2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-2);
    z-index: -1;
    border-radius: 10px;
}
.product-search-area h3{
    font-size: 30px;
    color: var(--main-r);
    
}

.check-product-item-area{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px 90px 0px;
    margin-bottom: 45px;
}
.product-search-area a, .product-search-area span{
    font-style: italic;
    color: #9A9A9A;
    font-size: 18px;
    display: inline-block;
}
.btn-style-blue{
    transition: all .3s ease;
}
.btn-style-blue:hover{
    background-color:  #00244a!important;

}

.check-product-item{
    position: absolute;
    cursor: none;
    opacity: 0;
}
.check-product-item + label{
    font-size: 15px;
    background-color: #fff;
    border-radius: 5px;
    color: #707070;
    font-weight:400;
    letter-spacing: 0px;
    padding: 10px 35px;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 22px;
    transition: all .3s;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
    
}
.check-product-item:checked + label{
    background-color: var(--main-b);
    color: #fff;
}
.product-search-area .select-box{
    height: 65px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 12px;
    font-style: italic;
    font-weight: 300;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
}
.product-search-area .select-box:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-search-area .select-box input{
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 300;
    padding: 0 25px;
}
.product-search-area .select-box a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--main-b);
    color: #fff;
    font-size: 15px;
    font-weight:600;
    border-radius: 10px;
}
.product-search-area .select-box .form-select{
    width: 100%!important;
    height: 100%!important;
    border: none;
    padding: 0 25px!important;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    background-image: url(../../frontend/icons/arrow-down.png);
    background-size: 27px;
}
.product-search-area .select-box .form-select,
.product-search-area .select-box .form-select option{
    font-style: italic;
    font-weight: 300;
    color: #737373;
    font-size: 20px;
}
@media screen and (max-width: 1700px) {
    .product-search-area{
        min-width:100%!important;
        height: auto;
        padding: 80px 132px 80px 132px;
    }
}
@media screen and (max-width: 1250px) {
    .product-search-area{
        padding: 80px;
    }
    .check-product-item-area{
        padding: 30px 30px 0px!important;
    }
    .product-search-area .select-box{
        margin:0 0  35px 0!important;
        width: 100%!important;
        
    }
}
@media screen and (max-width: 768px) {
    .product-search-area{
        margin-top: -80px;
    }
    .product-search-area{
        padding: 50px 20px 0px 20px;

    }
    
}
@media screen and (max-width: 500px) {
    .check-product-item + label{
        width: 100%;
        text-align: center;
    }
    
}



/* call section onclick */

#open-search{
    padding: 90px 115px 0px 115px;
    background-color: #fff;
    margin-top: 90px;
}

#open-search .title{
    margin-bottom: 25px;
    align-items: center;
}
#open-search .title h4{
    color:var(--main-b);
    font-size: 25px;
}
#open-search .title p{
    display: inline-block;
    font-style: italic;
}
#open-search .title .cat-to-cat span{
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    color: #000;
}
#open-search .title p span{

    color: #000;
    font-size: 15px;
}
#open-search .item-box{
    padding: 20px 20px 15px 30px;
    border-radius: 10px;
    margin-bottom: 25px;
    position: relative;
    display: flex;
    box-shadow: var(--shadow);
    margin-bottom: 40px;
    border: 1px solid #EAEAEA;
}
#open-search .item-box.col-md-6 {
    flex: 0 0 auto;
    margin-right: 23px;
    width: 48%;
}
#open-search .item-box::before{
    position: absolute;
    content: "";
    z-index: 20;
    height: 63%;
    width: 2px;
    background-color: var(--main-r);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
#open-search .item-box .image-box{
    width: 225px;
    height: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#open-search .item-box .image-box img{
    object-fit: contain;
}
#open-search .item-content {
    margin-left: 42px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#open-search .item-content h5,
#open-search .item-content p{
    margin-bottom: 25px;
}
#open-search .item-content h5{
    font-size: 20px;
    font-weight: 600;
}
#open-search .item-content p{
    font-size: 13px;
    font-weight: 300;
}
#open-search .item-box li{
    font-weight: 500;
}
#open-search .item-box li span{
    font-size: 15px;
    font-style: normal;
    color: #000;
}
#open-search .item-box li:not(:last-child){
    display: inline-block;
    padding-right: 20px;
    margin-right: 28px;
    border-right: 1px solid var(--main-r);
}
#open-search .item-box .oem{
    color: var(--main-r)!important;
}
#open-search .item-box .marketing{
    height: 40px;
    display: flex;
}
#open-search .item-box .marketing .like,
#open-search .item-box .marketing .liked,
#open-search .item-box .marketing .inspect,
#open-search .item-box .marketing .add-card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;
    cursor: pointer;
}
#open-search .item-box .marketing .like,
#open-search .item-box .marketing .liked{
    width: 62px;
    background-color:var(--bg-2);
    border-radius: 5px;
    margin-right: 10px;
}
#open-search .item-box .marketing .inspect{
    width: 75px;
    border-radius: 5px;
    margin-right: 30px;
    color: #ffff;
}
#open-search .item-box .marketing .inspect a{
    background-color: var(--main-b);
    color: #fff;
    font-size: 13px;
    padding: 10px 15px;
    border-radius: 5px;
    color: #ffff;
    font-style: normal;
}
#open-search .item-box .marketing .add-card{
    background-color: var(--main-r);
    border-radius: 5px;
}
#open-search .item-box .marketing .add-card a{
    color: #fff;
    padding: 10px 15px;
    font-size: 13px;
    transition: all .3s ease;
    border-radius: 0px 5px 5px 0px;
}
#open-search .item-box .marketing .add-card a:hover{
    background-color: var(--main-b);
}
#open-search .item-box .marketing .add-card .how-much{
    
    border-right: 1px solid rgba(255, 255, 255, .5);
    padding: 10px 0px 10px 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#open-search .item-box .marketing .add-card span{
    font-size: 13px;
    margin-right: 5px;
    padding: 3px;
    color: #fff;
    font-style: normal;
}
#open-search .item-box .marketing .add-card a{
    font-style: normal;
}
#open-search .item-box .marketing .add-card span:not(:last-child){
    margin-right: 5px;
}

#open-search .brand{
    width: 100px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: 20px;
    border: 1px solid rgba(172, 172, 172, .4);
}
#open-search .see-all a{
    display: inline-block;
    padding: 19px 55px;
    background-color: var(--main-b);
    color: #fff;
    font-size: 15px;
    font-style: normal;
    border-radius: 5px;
}

@media screen and (max-width:1200px) {
    #open-search{
        padding: 50px 20px 50px 20px;
        background-color: #fff;
        min-width: 100%!important;
    }
    #open-search .brand{
        top: 2%;
        right: 1%;
    }
    #open-search .item-content {
        margin-left: 25px;
    }
    #open-search .item-box ul{
        margin-bottom: 30px;
    }
    #open-search .item-box li:not(:last-child){
        display: inline-block;
        padding-right: 20px;
        margin-right: 15px!important;
        border-right: 1px solid var(--main-r);
    }
}
@media screen and (max-width:1200px) {
    #open-search .brand{
        display: none;
    }
}
@media screen and (max-width:715px){
    #open-search {
        padding: 30px;
    }
    #open-search .title{
        flex-direction: column;
    }
    #open-search .title p{
        margin-bottom: 30px;
    }
    #open-search .item-box{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }
    #open-search .item-box .image-box{
        margin-bottom: 25px;
    }
    #open-search .item-box ul{
        flex-direction: column;
    }
    #open-search .item-box li:not(:last-child){
        display: inline-block;
        padding-right: 20px;
        margin-right: 15px!important;
        width: 30%;
        border: none;
        padding-left: 20px;
        margin-bottom: 15px;
        border-left: 1px solid var(--main-r);
    }
    #open-search .item-box .marketing .like, #open-search .item-box .marketing .liked {
        position: absolute;
        height: 50px;
        top: 2%;
        right: 0;
    }
}




/* most search */

.most-search-items{
    padding: 100px;
}


.most-search-items p{
    margin-bottom: 30px;
}

.most-s-slider {
    position: relative;
    left: 0;
    cursor: grab;
    width: 100%;
    height: 550px;
  }
  
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
  }
  
  .slider-inner {
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 0;
    left: 0;
    /* width: 3000px; */
    height: 100%;
    display: flex;
  }

@media screen and (max-width:769px) {
    .most-search-items{
        padding:50px 188px;
    }
    .most-search-items .most-card{
        margin: 0 40px;
    }
}
@media screen and (max-width:767px) {
    .most-search-items{
        padding:50px 25px;
    }
    
    #most-search-items .most-card { /*.most-search-items */
        max-width: 290px!important;
        max-height: 460px!important;
        margin: 0px 25px 30px 13px!important;
        padding: 20px 10px 0 10px!important;
    }
    .most-search-items .most-card img{
        padding: 20px!important;
    }
    .most-search-items .progress-bar {
        bottom: 36px!important;
        width: 70%;
    }
    .most-search-items .line-progress {
        bottom: 40px!important;
        width: calc(70% + 10px)!important;
    }
    .most-search-items .line-progress::before {
        width: 55px!important;
    }
}


#most-search-items .most-card{
    width: 345px!important;
}
.most-search-items .most-card{
    background: #fff;
    /*  */
    height: 510px!important;
    padding: 30px 30px 0 30px;
    display: flex!important;
    flex-direction: column;
    position: relative;
    box-shadow: var(--shadow);
    border-radius: 10px;
    margin: 0px 40px 30px 10px;
}
.most-search-items .most-card:last-child{
    margin-right: 15px;
}
.most-search-items .most-card img{
    object-fit: contain;
    max-width: 220px;
    max-height: 220px;
}
.most-search-items .most-card .brands{
    margin: 20px 0px 10px;
}
.most-search-items .most-card .card-border{
    height: 1px;
    background: #cbcbcb;
    width: 100%;
}
.most-search-items .most-card .brands span{
    font-size: 14px;
    font-weight: 300;
    color: #696969;
}
.most-search-items .most-card .card-name{
    margin: 10px 0px 20px;
    line-height: 22px;
}
.most-search-items .most-card .brand-id-table span{

    font-weight: 300;
}
.most-search-items .most-card .add-to-card{
    border: none;
    width: 200px;
    height: 46px;
    background-color: #fff;
    color: var(--main-r);
    border-bottom: 2px solid var(--main-r);
    transition: all .3s;
    border-radius: 10px 10px 0px 0px;
}
.most-search-items .most-card .add-to-card::before{
    content: "";
    position: absolute;
    background-image: url(../../frontend/icons/basket-r.png);
    width: 17px;
    height: 16px;
    margin-left: -25px;
}
.most-search-items .most-card .add-to-card:hover{
    background-color: var(--main-r);
    color: #fff;

}
.most-search-items .most-card .add-to-card:hover::before{
    background-image: url(../../frontend/icons/basket.png)!important;
}


.most-search-items .progress-bar {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    height: 10px;
    width: 70%;
    border: none;
    border-radius: 10px;
    
  }
.most-search-items .line-progress {
    position: absolute;
    bottom: -46px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: calc(70% + 10px);
    border-radius: 10px;
    background-color: #c1c1c1;
    z-index: -1;
    border: none;
  }
.most-search-items  .line-progress::before{
    content: "";
    position: absolute;
    left: 5px;
    height: 10px;
    width: 90px;
    background-color: var(--main-r);
    border-radius: 10px;
    transform: translateY(-40%);
  }
 
  
.most-search-items  .prog-bar-inner {
    position: absolute;
    top: 0;
    left: 5px;
    height: 10px;
    background-color: var(--main-r);
    border-radius: 10px;
  }
 

  /* Hide scrollbar for Chrome, Safari and Opera */
.most-search-items .slider::-webkit-scrollbar {
display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.most-search-items  .slider {
-ms-overflow-style: none; /* IE and Edge */
scrollbar-width: none; /* Firefox */
}



/* ----most-cat ----- */

.most-search-cat{
    height: 600px;
    background-color: var(--bg-2);
    padding: 95px 0px;
}


.most-search-cat .title{
    margin-bottom: 40px;
}
.most-search-cat .slide-cat{
    display: flex;
    flex-direction: column;
    height: 315px;
    width: 240px;
    margin-right: 20px;
}
.most-search-cat .cat-pic{
    background-color: #fff;
    padding: 10px;
    width: 100%;
    height: 240px;
    margin-bottom: 15px;
}
.most-search-cat .cat-pic img{
    width: 100%;
    height: 222px;
    object-fit: contain;

}
.most-search-cat button{
    z-index:20!important;
}
.most-search-cat .slick-next:before {
    content: ''!important;
}
.most-search-cat .slick-prev:before {
    content: ''!important;
}
.most-search-cat .slick-prev:before,.most-search-cat .slick-next:before {
    position: absolute!important;
    width: 34px!important;
    height: 34px!important;
    border-radius: 50%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    top: 0%;
    margin-top: -40px;
    cursor: pointer;
    opacity: 1!important;

}
.most-search-cat .slick-prev:before{
    background-image: url(../../frontend/icons/double-l.png)!important;
}
.most-search-cat .slick-next:before{
    background-image: url(../../frontend/icons/double-r.png)!important;
    margin-left: -25px;
}

@media screen and (max-width:1300px) {
    .most-search-cat{
        padding: 90px 90px;
    }
}
@media screen and (max-width:768px) {
    .most-search-cat{
        padding: 50px;
    }
    .most-search-cat .cat-pic img{
        width: 100%;
        height: 222px;
        object-fit: cover;
    
    }
    
}
@media screen and (max-width:480px) {
    .most-search-cat img{
        padding: 15px;
    }
    
    
}



/* Most-s-slider-2 */

.most-s-slider-2 .slick-dots li{
    margin-right: 45px!important;
    
  }
.most-s-slider-2 .slick-dots li.slick-active button:before {
    opacity: 1;
    background-color: var(--main-b)!important;
}
.most-s-slider-2 .slick-dots li button:before {
    font-family: 'slick';
    top: calc(50% + 5px)!important;
    left: 0;
    width: 55px!important;
    height: 5px!important;
    content: ''!important;
    opacity: 1;
    background-color:var(--main-r)!important;
    border-radius: 10px;
}
@media screen and (max-width:768px) {
    .most-s-slider-2 .slick-dots li button:before {
        
        width: 45px!important;
        
    }
    .most-s-slider-2 .slick-dots li{
        margin-right: 35px!important;
    }
}



/* contact Section */

.contact-section{
    background-color: var(--bg-2);
    padding: 65px 0px 85px 0px;
    align-items: center;
    margin-bottom: 90px;
}

.contact-section .line-top{
    position: absolute;
    content: "";
    background-color: var(--main-r);
    margin-top: -68px;
    left: 50%;
    transform: translateX(-50%);
    width: 45%;
    height: 6px;
    z-index: 20;
    border-radius: 10px;
}
.contact-section .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-section .content p{
    font-size: 20px;
    line-height: 30px;
    margin-top: 38px;
    margin-bottom: 105px;
}
.contact-section .contact-card{
    height: 240px;
    width: 432px;
    background-color: var(--main-r);
    margin: auto 0;
    border-radius: 10px;
    color: #fff;
    transition: all .3s;
}
.contact-section .contact-card a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.contact-section .contact-card:hover{
   background-color: var(--main-b);
}
.contact-section .contact-card span{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}
.contact-section .contact-card img{
    width: 48px;
    height: 48px;
    object-fit: contain;
    margin-bottom: 1rem;
}
.contact-section .contact-card:not(:last-child){
    margin-right: 10px;
}
.contact-section .contact-card:nth-child(2){
    background-color: var(--main-b);
    height: 432px;
    font-size: 20px;
}
.contact-section .contact-card:nth-child(2):hover{
    background-color: var(--main-r);
}
.contact-section .contact-card:nth-child(2) span{
    letter-spacing: 4px;
}
.contact-section .contact-card:nth-child(2) img{
    width: 120px;
    height: 120px;
}

/* @media screen and (max-width:1350px) {
    .contact-section .contact-card{
        width: auto;

    } 
    
} */
@media screen and (max-width:1200px) {
    .contact-section .contact-card{
        width: 80%!important;
        border-radius: 0;
        margin: 0 auto!important;

    } 
    
}
@media screen and (max-width:768px) {
    .contact-section{
        margin-bottom: 0px;
    }
    .contact-section .contact-card{
        width: 100%!important;
    } 
    
}
@media screen and (max-width:500px) {
    .contact-section{
        padding-bottom: 0px!important;
    }
    .contact-section .content p{
        padding: 15px;
    }  
}


/* contact-form */

.contact-form-section{
    background-color: var(--main-b);
    background-image: url(../../frontend/images/truck.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0px 90px 0px;
    color: #fff;
    font-family: 'Gantari', sans-serif;
}
.contact-form-section h2{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -2px;
}
.contact-form-section p{
    margin-bottom: 47px;
}
#contact-form .contact-input{
    background: transparent;
    margin-bottom: 40px;
}
#contact-form .contact-input input,
#contact-form .contact-input textarea{
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    transition: all .3s;
    height: 50px;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
}

#contact-form .contact-input textarea{
    height: 100px;
}

#contact-form .form-submit{
    width: 170px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
    font-weight: 300;
    font-family: 'Jost', sans-serif;
    color: var(--main-b);
    box-shadow: var(--shadow);
    transition: all .3s ease-in;

}
#contact-form .form-submit:hover{
    background-color: rgb(228, 228, 228);
}
#contact-form .form-submit:focus{
    border: 1px solid rgba(0, 0, 0, 0.6);
}

#contact-form .contact-input input::marker{
    bottom: 0;
}
#contact-form .contact-input input::placeholder,
#contact-form .contact-input textarea::placeholder{
    color: #fff;
    /* position: absolute;
    bottom: 0; */
    /* transition: all .3s; */
}
#contact-form .contact-input input:focus::placeholder,
#contact-form .contact-input textarea:focus::placeholder{
    visibility: hidden;
}

@media screen and (max-width:768px) {
    .contact-form-section h2{
        font-size: 45px;
        margin-bottom: 25px;
    }
    #contact-form .contact-input input,
    #contact-form .contact-input textarea{
        width: 90%;
        font-size: 15px;
    }
}

#statistics{
    height: 620px;
    background-image: url(../../frontend/images/footer-statics.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#statistics .statistic-area{
    position: absolute;
    height: 240px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#statistics .statistic-area .box{
    width: 350px;
    
}
#statistics .statistic-area .box:not(:last-child){
    margin-right: 40px;
    
}
#statistics .statistic-area span{
    display: block;

}
.statistic-area .title{
    font-size: 130px;
    letter-spacing: -8px;
    font-weight: 500;
}
.statistic-area .content{
    font-weight: 300;
}
@media screen and (max-width:1200px) {
    #statistics .statistic-area{
       
        flex-direction: column;
    }
    #statistics .statistic-area .box{
        margin-right: 0px!important;
    }
    .statistic-area .title{
        font-size: 100px;
        font-weight: 600;
    }
}
@media screen and (max-width:768px) {
    .statistic-area .box{
        margin-bottom: 40px;
    }
    .statistic-area .title{
        font-size: 60px;
        letter-spacing: -3px;
    }
}


footer{
    padding-top: 100px;
    width: 100%;
    background-color: #C11D2A;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
footer::before{
    content: "";
    background: url(../../frontend/images/footer-logo.png);
    position: absolute;
    width: 108px;
    height: 136px;
    z-index: 100;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

}
footer .copyright-nav{
    margin-bottom: 60px;
}
footer .copyright-nav ul{
    list-style: none;
    padding-left: 0;
}
footer .copyright-nav ul a{
    font-size: 25px;
    color: #fff;
    line-height: 20px;
    font-weight: 600;
    transition: all .3s ease;
}
footer .copyright-nav ul li{
    display: inline-block;
    font-size: 20px;
}
footer .copyright-nav ul a:hover{
    color: #000;
}
footer .copyright-nav ul a:not(:last-child){
    margin-right: 40px;
}
footer .footer-address{
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 25px;
}
footer .copy-right-bonapart{
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 35px;
    text-align: center;
}
footer .copy-right-bonapart p{
    text-align: center;
}


.projx-logos { width: 100px; height: 53px; position: relative; text-align: center; margin: auto; margin-bottom: 30px;}
.projx-logos * {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.projx-logos > .projx-logos-link {display: block;width: 100%;height: 100%;position: absolute;z-index: 1;}
.projx-logos-card {width: 100%;height: 100%;position: relative;-webkit-perspective: 100px;-moz-perspective: 100px;-o-perspective: 100px;perspective: 100px;}
.projx-logos-card figure {display: block;height: 100%;width: 100%;position: absolute;padding: 0;margin: 0;-webkit-backface-visibility: hidden;-moz-backface-visibility: hidden;-o-backface-visibility: hidden;backface-visibility: hidden;-webkit-transition: -webkit-transform 0.4s;-moz-transition: -moz-transform 0.4s;-o-transition: -o-transform 0.4s;transition: transform 0.4s;-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;-o-transform-style: preserve-3d;transform-style: preserve-3d;}
.projx-logos-card figure > div {width: 100%;height: 100%;background-repeat: no-repeat;background-size: contain;background-position: center;}
.projx-logos-card .back > div {color: #fff;font-size: 12px;padding-top: 20px;}
.projx-logos .projx-logos-card .front img { height: 30px; }
.projx-logos .projx-logos-card .back,
.projx-logos:hover .projx-logos-card .front {-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);-o-transform: rotateY(180deg);transform: rotateY(180deg);}
.projx-logos:hover .projx-logos-card .back {-webkit-transform: rotateY(360deg);-moz-transform: rotateY(360deg);-o-transform: rotateY(360deg);transform: rotateY(360deg);}
.tooltip-projx-logos {display: block;position: relative;z-index: 999;}
.tooltip-projx-logos:after {content: '';position: absolute;width: 100%;height: 10px;bottom: 100%;left: 50%;pointer-events: none;-webkit-transform: translateX(-50%);transform: translateX(-50%);}
.projx-logos:hover .tooltip-projx-logos::after {pointer-events: auto;}
.tooltip-projx-logos-content {position: absolute;z-index: 9999;width: 140px;left: 50%;bottom: 100%;font-size: 13px;line-height: 1.2;margin: 0 0 10px -70px;text-align: center;font-weight: 400;color: #fff;background: transparent;opacity: 0;cursor: default;pointer-events: none; -webkit-font-smoothing: antialiased; -webkit-transition: opacity 0.3s 0.3s;transition: opacity 0.3s 0.3s;}
.projx-logos:hover .tooltip-projx-logos-content {opacity: 1;pointer-events: auto;-webkit-transition-delay: 0s;transition-delay: 0s;}
.tooltip-projx-logos-content span {display: block;}
.tooltip-projx-logos-text {border-bottom: 2px solid #fffaf0;overflow: hidden;-webkit-transform: scale3d(0,1,1);transform: scale3d(0,1,1);-webkit-transition: -webkit-transform 0.3s 0.3s;transition: transform 0.3s 0.3s;}
.projx-logos:hover .tooltip-projx-logos-content .tooltip-projx-logos-text {-webkit-transition-delay: 0s;transition-delay: 0s;-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}
.tooltip-projx-logos-text-inner {background: rgba(0, 0, 0, 0.6);padding: 7px 10px;-webkit-transform: translate3d(0,100%,0);transform: translate3d(0,100%,0); -webkit-transition: -webkit-transform 0.3s;transition: transform 0.3s;}
.projx-logos:hover .tooltip-projx-logos-content .tooltip-projx-logos-text-inner {-webkit-transition-delay: 0.3s;transition-delay: 0.3s;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
.tooltip-projx-logos-content:after {content: '';bottom: -14px;left: 50%;border: solid transparent;height: 0;width: 0;position: absolute;pointer-events: none;border-color: transparent;border-top-color: #fffaf0;border-width: 7px;margin-left: -7px;}


@media screen and (max-width:768px) {
    footer{
        padding: 100px 30px 0px 30px!important;
    }
    footer .copyright-nav ul li{
        display: inline-block;
        font-size: 15px;
        margin-bottom: 15px;
    }
    footer .copyright-nav{
       margin-bottom: 30px;
    }
}
/* @media screen and (max-width:700px) {
    footer .copyright-nav{
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
} */