.btn-fromLeft{
    position: relative;	
	padding: 1.4rem 4.2rem;
	padding-right: 3.1rem;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
}
.btn-fromLeft:before, 
.btn-fromLeft:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.btn-fromLeft:hover {
	color: var(--def);
	transition-delay: .5s;
}

.btn-fromLeft:hover:before {
	transition-delay: 0s;
}

.btn-fromLeft:hover:after {
	background: var(--inv);
	transition-delay: .35s;
}

.from-left:before, 
.from-left:after {
	top: 0;
	width: 0;
	height: 100%;
}

.from-left:before {
	right: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;	
}

.from-left:after {
	left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
	width: 100%;
}

.shine-animation{position:relative;overflow:hidden;}.shine-animation::before{position:absolute;top:0;left:-75%;z-index:2;display:block;content:'';width:50%;height:100%;background:-webkit-linear-gradient(left,rgba(255,255,255,0) 0%,rgba(255,255,255,.3) 100%);background:linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(255,255,255,.3) 100%);-webkit-transform:skewX(-25deg);transform:skewX(-25deg)}.shine-animation:hover::before{-webkit-animation:shine 1s;animation:shine 1s}@-webkit-keyframes shine{100%{left:125%}}@keyframes shine{100%{left:125%}}


