/* LT PRO */
@font-face {
  font-family: "Helvetica Neue LT Pro";
  src: url("../fonts/helvatica-include/HelveticaNeueLTPro-ThIt.woff2") format("woff2"), url("../fonts/helvatica-include/HelveticaNeueLTPro-ThIt.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Pro";
  src: url("../fonts/helvatica-include/HelveticaNeue-Thin.woff2") format("woff2"), url("../fonts/helvatica-include/HelveticaNeue-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Pro";
  src: url("../fonts/helvatica-include/HelveticaNeueLTPro-It.woff2") format("woff2"), url("../fonts/helvatica-include/HelveticaNeueLTPro-It.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Pro";
  src: url("../fonts/helvatica-include/HelveticaNeueLTPro-MdIt.woff2") format("woff2"), url("../fonts/helvatica-include/HelveticaNeueLTPro-MdIt.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Pro";
  src: url("../fonts/helvatica-include/HelveticaNeueLTPro-Bd.woff2") format("woff2"), url("../fonts/helvatica-include/HelveticaNeueLTPro-Bd.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Pro";
  src: url("../fonts/helvatica-include/HelveticaNeueLTPro-BlkIt.woff2") format("woff2"), url("../fonts/helvatica-include/HelveticaNeueLTPro-BlkIt.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Pro";
  src: url("../fonts/helvatica-include/HelveticaNeueLTPro-Blk.woff2") format("woff2"), url("../fonts/helvatica-include/HelveticaNeueLTPro-Blk.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Pro";
  src: url("../fonts/helvatica-include/HelveticaNeueLTPro-UltLtIt.woff2") format("woff2"), url("../fonts/helvatica-include/HelveticaNeueLTPro-UltLtIt.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Pro";
  src: url("../fonts/helvatica-include/HelveticaNeueLTPro-HvIt.woff2") format("woff2"), url("../fonts/helvatica-include/HelveticaNeueLTPro-HvIt.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Pro";
  src: url("../fonts/helvatica-include/HelveticaNeueLTPro-BdIt.woff2") format("woff2"), url("../fonts/helvatica-include/HelveticaNeueLTPro-BdIt.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Pro";
  src: url("../fonts/helvatica-include/HelveticaNeueLTPro-LtIt.woff2") format("woff2"), url("../fonts/helvatica-include/HelveticaNeueLTPro-LtIt.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Pro";
  src: url("../fonts/helvatica-include/HelveticaNeueLTPro-UltLt.woff2") format("woff2"), url("../fonts/helvatica-include/HelveticaNeueLTPro-UltLt.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Pro";
  src: url("../fonts/helvatica-include/HelveticaNeueLTPro-Hv.woff2") format("woff2"), url("../fonts/helvatica-include/HelveticaNeueLTPro-Hv.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Pro";
  src: url("../fonts/helvatica-include/HelveticaNeueLTPro-Md.woff2") format("woff2"), url("../fonts/helvatica-include/HelveticaNeueLTPro-Md.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../plugins/fonts/helvatica-include/HelveticaNeue-Extended.woff2") format("woff2"), url("../plugins/fonts/helvatica-include/HelveticaNeue-Extended.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* cita */
@font-face {
  font-family: "Cita Pro";
  src: url("../fonts/include/CitaPro-Bold.woff2") format("woff2"), url("../fonts/include/CitaPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cita Pro";
  src: url("../fonts/include/CitaPro-Regular.woff2") format("woff2"), url("../fonts/include/CitaPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cita Pro";
  src: url("../fonts/include/CitaPro-ThinItalic.woff2") format("woff2"), url("../fonts/include/CitaPro-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Cita Pro";
  src: url("../fonts/include/CitaPro-BoldItalic.woff2") format("woff2"), url("../fonts/include/CitaPro-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Cita Pro";
  src: url("../fonts/include/CitaPro-Italic.woff2") format("woff2"), url("../fonts/include/CitaPro-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Cita Pro";
  src: url("../fonts/include/CitaPro-Thin.woff2") format("woff2"), url("../fonts/include/CitaPro-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 17px;
  font-family: "Helvetica Neue LT Pro";
  font-weight: 100;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container-1400 {
  width: 100%;
  max-width: 1460px;
  padding: 0 30px;
  margin: 0 auto;
}

.kriko-footer {
  height: 150px;
}
@media all and (max-width: 768px) {
  .kriko-footer {
    height: 100px;
  }
}

.kriko-200 {
  height: 200px;
  width: 100%;
}

.kriko-175 {
  height: 175px;
  width: 100%;
}

.kriko-150 {
  height: 150px;
  width: 100%;
}

.kriko-120 {
  height: 120px;
  width: 100%;
}

.kriko {
  height: 100px;
  width: 100%;
}

.kriko-h50 {
  height: 50px;
}

.kriko-h75 {
  height: 75px;
}

@media all and (max-width: 1600px) {
  .kriko {
    height: 83px;
  }
  .kriko-120 {
    height: 100px;
  }
  .kriko-150 {
    height: 100px;
  }
  .kriko-175,
  .kriko-200 {
    height: 150px;
  }
}
@media all and (max-width: 1366px) {
  .kriko,
  .kriko-120,
  .kriko-150 {
    height: 71px;
  }
  .kriko-120,
  .kriko-150,
  .kriko-175,
  .kriko-200 {
    height: 100px;
  }
}
@media all and (max-width: 992px) {
  .kriko-h50 {
    height: 40px;
  }
  .kriko-h75 {
    height: 55px;
  }
  .kriko {
    height: 60px;
  }
  .kriko-120,
  .kriko-150,
  .kriko-175,
  .kriko-200 {
    height: 80px;
  }
}
@media all and (max-width: 768px) {
  .kriko,
  .kriko-120,
  .kriko-150,
  .kriko-175,
  .kriko-200 {
    height: 50px;
  }
  .kriko-h75 {
    height: 40px;
  }
  .kriko-h50 {
    height: 25px;
  }
}
@media all and (max-width: 575px) {
  .kriko-h75,
  .kriko,
  .kriko-120,
  .kriko-150,
  .kriko-175,
  .kriko-200 {
    height: 30px;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 11px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#header {
  position: absolute;
  height: 90px;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  z-index: 100;
  transition: background 1s ease;
  padding-left: 39px;
  padding-right: 44px;
  border-bottom: 1px solid transparent;
}
#header .logo {
  transition: all 1s ease;
}
@media all and (max-width: 575px) {
  #header .logo img {
    width: 55px;
  }
}
#header nav {
  margin-left: auto;
}
@media all and (max-width: 1200px) {
  #header nav {
    display: none;
  }
}
@media all and (min-width: 1921px) {
  #header nav {
    margin-right: auto;
  }
}
#header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
#header nav ul li {
  position: relative;
  margin-right: 32px;
}
#header nav ul li::after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: #F5A117;
  transition: all 0.3s ease;
}
#header nav ul li:hover::after {
  width: 80%;
}
#header nav ul li a {
  font-size: 16px;
  letter-spacing: 0.32px;
  transition: all 1s ease;
}
#header nav ul li.header-presentations {
  position: static !important;
}
#header nav ul li.header-presentations::after {
  display: none;
}
#header nav ul li.header-presentations > a {
  position: relative;
}
#header nav ul li.header-presentations > a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: #F5A117;
  transition: all 1s ease;
}
#header nav ul li.header-presentations > a:hover::after {
  width: 80%;
}
#header nav ul li.header-presentations .presentation-area {
  content: "";
  position: fixed;
  height: 650px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background-color: rgba(9, 38, 65, 0.8);
  opacity: 1;
  -webkit-backdrop-filter: blur(8px) brightness(1.5);
          backdrop-filter: blur(8px) brightness(1.5);
  padding-bottom: 100px;
  padding-top: 110px;
  transition: all 0.4s ease;
  transform: translateY(-100%);
}
#header nav ul li.header-presentations .presentation-area .outside {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
}
#header nav ul li.header-presentations .presentation-area .outside .presentations-title {
  font-size: 16px;
  font-weight: 300;
}
#header nav ul li.header-presentations .presentation-area .outside .inside {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
#header nav ul li.header-presentations .presentation-area .outside .inside .box {
  width: 100%;
  max-width: 336px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  transition: padding 0.4s ease, background 0.4s ease;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  border-radius: 0;
}
#header nav ul li.header-presentations .presentation-area .outside .inside .box .box-img {
  margin-bottom: 62px;
  max-height: 87px;
  height: 0;
  visibility: hidden;
}
#header nav ul li.header-presentations .presentation-area .outside .inside .box .text {
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
}
#header nav ul li.header-presentations .presentation-area .outside .inside .box .text span {
  font-weight: 300;
}
#header nav ul li.header-presentations .presentation-area .outside .inside .box .arrow {
  height: 0;
  visibility: hidden;
}
#header nav ul li.header-presentations .presentation-area .outside .inside .box:hover {
  padding: 77px 30px 65px;
  background-color: #14293C;
  border-radius: 20px;
  border-bottom: 2px solid transparent;
}
#header nav ul li.header-presentations .presentation-area .outside .inside .box:hover .box-img,
#header nav ul li.header-presentations .presentation-area .outside .inside .box:hover .arrow {
  visibility: visible;
  height: auto;
  transition: all 0.4s ease;
}
#header nav ul li.header-presentations:hover .presentation-area {
  transform: translateY(0%);
}
#header .menu-button {
  position: relative;
  display: none;
  margin-left: auto;
  margin-right: 16px;
  gap: 17px;
  width: -moz-max-content;
  width: max-content;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 500;
  color: #1D1D1D;
  cursor: pointer;
  transition: all 1s ease;
}
@media all and (max-width: 1200px) {
  #header .menu-button {
    display: flex;
    color: #fff;
  }
}
#header .menu-button::after {
  position: relative;
  content: url(../images/icons/arrow-black-x.svg);
  transition: filter 1s ease;
}
@media all and (max-width: 1200px) {
  #header .menu-button::after {
    filter: invert(1);
  }
}
#header .get-offer {
  background-color: #D4394F;
  border-radius: 50px;
  padding: 11px 20px 11px 17px;
  letter-spacing: 0.33px;
}
#header.sticky, #header.start-sticky {
  position: fixed;
  background-color: #F5A117;
  border-bottom: 1px solid #707070;
}
#header.sticky .logo path, #header.start-sticky .logo path {
  fill: #000;
}
#header.sticky nav, #header.start-sticky nav {
  display: none;
}
#header.sticky .menu-button, #header.start-sticky .menu-button {
  display: flex;
  color: #000;
}
#header.sticky .menu-button::after, #header.start-sticky .menu-button::after {
  filter: invert(0);
}
#header.onchange {
  background-color: #000;
}
#header.onchange .logo {
  transition: all 1s ease;
}
#header.onchange .logo path {
  fill: #fff;
}
#header.onchange .menu-button {
  color: #fff;
}
#header.onchange .menu-button::after {
  filter: invert(1);
}

.burger-menu {
  visibility: hidden;
  opacity: 0;
  z-index: -201;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  overflow-y: auto;
  transition: all 0.3s ease;
}
.burger-menu .outside {
  position: relative;
  transition: all 0.3s ease;
  visibility: visible;
  opacity: 1;
  width: 100%;
  min-height: 100%;
  z-index: 1;
}
.burger-menu .outside::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #092641;
  filter: brightness(0.74) opacity(0.68);
  -webkit-backdrop-filter: blur(37px);
          backdrop-filter: blur(37px);
}
.burger-menu .outside .inside {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  padding-top: 31px;
  padding-right: 31px;
  gap: 10px;
  width: 571px;
}
@media all and (max-width: 600px) {
  .burger-menu .outside .inside {
    width: 100%;
    padding: 30px;
  }
}
.burger-menu .outside .inside .upside,
.burger-menu .outside .inside .downside {
  border-radius: 10px;
  width: 100%;
}
.burger-menu .outside .inside .upside {
  background-color: #F5A117;
  color: #000;
  position: relative;
  padding-bottom: 65px;
  height: 660px;
}
.burger-menu .outside .inside .upside .close-btn {
  position: absolute;
  top: 23px;
  left: 26px;
  display: flex;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  gap: 12px;
}
.burger-menu .outside .inside .upside .close-btn::before {
  position: relative;
  transition: all 0.3s ease;
  content: url(../images/icons/arrow-big-black-x.svg);
}
.burger-menu .outside .inside .upside .close-btn:hover::before {
  transform: translate(5px, -5px);
}
.burger-menu .outside .inside .upside .links {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding-right: 55px;
  padding-top: 100px;
}
@media all and (max-width: 450px) {
  .burger-menu .outside .inside .upside .links {
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    padding-top: 100px;
    margin: 0;
    width: 100%;
  }
}
.burger-menu .outside .inside .upside .links li {
  margin-bottom: 5px;
  position: relative;
  text-align: right;
  font-size: 28px;
  font-weight: 100;
  transition: all 0.3s ease;
  gap: 11px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.burger-menu .outside .inside .upside .links li::after {
  content: url(../images/icons/arrow-black-x-medium.svg);
  opacity: 0;
  visibility: hidden;
  width: 0;
  transition: all 0.2s ease;
}
.burger-menu .outside .inside .upside .links li:nth-of-type(1) {
  margin-bottom: 58px;
}
.burger-menu .outside .inside .upside .links li:nth-of-type(1):hover {
  font-size: 28px !important;
}
.burger-menu .outside .inside .upside .links li:nth-of-type(1)::after {
  display: none;
}
.burger-menu .outside .inside .upside .links li:nth-of-type(1) img {
  filter: invert(1);
}
.burger-menu .outside .inside .upside .links li:hover {
  font-size: 40px;
  font-family: "Cita Pro";
  font-weight: 100;
  font-style: italic;
  margin-right: -17px;
}
.burger-menu .outside .inside .upside .links li:hover::after {
  opacity: 1;
  visibility: visible;
  width: auto;
}
.burger-menu .outside .inside .downside {
  background-color: #fff;
  color: #000;
  padding: 67px 55px 60px 30px;
  display: flex;
  justify-content: space-between;
  height: 416px;
}
@media all and (max-width: 450px) {
  .burger-menu .outside .inside .downside {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 27px;
  }
}
.burger-menu .outside .inside .downside .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media all and (max-width: 450px) {
  .burger-menu .outside .inside .downside .left {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
}
.burger-menu .outside .inside .downside .left .whatsappChat {
  display: flex;
  flex-direction: column;
  font-size: 26px;
  font-weight: 300;
  letter-spacing: -0.52px;
}
.burger-menu .outside .inside .downside .left .whatsappChat span {
  margin-top: 6px;
  font-style: italic;
  font-family: "Cita Pro";
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 0;
}
.burger-menu .outside .inside .downside .left .offer-circle {
  color: #fff;
  width: 127px;
  height: 127px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-image: linear-gradient(45deg, #fff 50%, #D4394F 50%);
  background-position: 100%;
  background-size: 400%;
  border: 1px solid #D4394F;
  transition: background 350ms ease-in-out, border 350ms ease-in-out;
}
.burger-menu .outside .inside .downside .left .offer-circle span {
  font-weight: 500;
  font-size: 15px;
}
.burger-menu .outside .inside .downside .left .offer-circle:hover {
  background-position: 0;
  color: #000;
  transition: all 0.3s;
  border: 1px solid #000;
}
.burger-menu .outside .inside .downside .left .offer-circle:hover img {
  filter: invert(1);
}
.burger-menu .outside .inside .downside .right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.burger-menu .outside .inside .downside .right ul {
  text-align: right;
}
@media all and (max-width: 450px) {
  .burger-menu .outside .inside .downside .right ul {
    text-align: center;
  }
}
.burger-menu .outside .inside .downside .right ul li:not(:last-child) {
  margin-bottom: 20px;
}
@media all and (max-width: 450px) {
  .burger-menu .outside .inside .downside .right ul li:not(:last-child) {
    margin-bottom: 15px;
  }
}
.burger-menu .outside .inside .downside .right ul li a {
  font-size: 16px;
  text-decoration: underline;
  font-weight: 300;
}
.burger-menu.active {
  visibility: visible;
  opacity: 1;
  z-index: 201;
}

.banner-section {
  background-color: #092641;
  max-height: 1080px;
  width: 100%;
  padding-bottom: 70px;
  position: relative;
}
@media all and (max-width: 1200px) {
  .banner-section {
    padding-bottom: 0;
  }
}
@media all and (max-width: 992px) {
  .banner-section {
    max-height: 800px;
    height: 100vh;
  }
}
.banner-section .banner-inside {
  width: 100%;
  max-width: 1660px;
  margin-left: auto;
}
@media all and (min-width: 2100px) {
  .banner-section .banner-inside {
    margin-right: auto;
  }
}
@media all and (max-width: 1500px) {
  .banner-section .banner-inside {
    height: 100vh;
  }
}
@media all and (max-width: 992px) {
  .banner-section .banner-inside {
    height: 100%;
  }
}
.banner-section .banner-inside .item {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
}
.banner-section .banner-inside .item .banner-content {
  align-self: flex-end;
  width: 100%;
  max-width: 718px;
  margin-bottom: 194px;
}
@media all and (max-width: 1780px) {
  .banner-section .banner-inside .item .banner-content {
    padding-left: 120px;
  }
}
@media all and (max-width: 1250px) {
  .banner-section .banner-inside .item .banner-content {
    margin-bottom: 55px;
  }
}
@media all and (max-width: 1100px) {
  .banner-section .banner-inside .item .banner-content {
    width: 50%;
  }
}
@media all and (max-width: 850px) {
  .banner-section .banner-inside .item .banner-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    padding-left: 100px;
  }
}
@media all and (max-width: 767px) {
  .banner-section .banner-inside .item .banner-content {
    padding-left: 0px;
  }
}
@media all and (max-width: 575px) {
  .banner-section .banner-inside .item .banner-content {
    width: 100%;
    padding: 0 30px;
  }
}
.banner-section .banner-inside .item .banner-content .banner-title {
  font-weight: 300;
  font-size: 77px;
  line-height: 77px;
  color: #BFBFBF;
  margin-bottom: 30px;
}
@media all and (max-width: 1780px) {
  .banner-section .banner-inside .item .banner-content .banner-title {
    font-size: 56px;
    line-height: 62px;
  }
}
@media all and (max-width: 1450px) {
  .banner-section .banner-inside .item .banner-content .banner-title {
    font-size: 52px;
    line-height: 57px;
  }
}
@media all and (max-width: 1365px) {
  .banner-section .banner-inside .item .banner-content .banner-title {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 26px;
  }
}
@media all and (max-width: 992px) {
  .banner-section .banner-inside .item .banner-content .banner-title {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 13px;
    padding-right: 5px;
  }
}
@media all and (max-width: 767px) {
  .banner-section .banner-inside .item .banner-content .banner-title {
    font-size: 25px;
    line-height: 30px;
  }
}
@media all and (max-width: 575px) {
  .banner-section .banner-inside .item .banner-content .banner-title {
    font-size: 22px;
    line-height: 27px;
  }
}
.banner-section .banner-inside .item .banner-content .text-content {
  max-width: 384px;
  position: relative;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
@media all and (max-width: 992px) {
  .banner-section .banner-inside .item .banner-content .text-content {
    padding-bottom: 27px;
    margin-bottom: 37px;
    padding-right: 5px;
  }
}
@media all and (max-width: 767px) {
  .banner-section .banner-inside .item .banner-content .text-content {
    padding-bottom: 20px;
    margin-bottom: 30px;
    padding-right: 0px;
  }
}
.banner-section .banner-inside .item .banner-content .text-content::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(112, 112, 112, 0.5);
}
.banner-section .banner-inside .item .banner-content .banner-buttons {
  display: flex;
}
@media all and (max-width: 1250px) {
  .banner-section .banner-inside .item .banner-content .banner-buttons {
    flex-direction: column;
    gap: 17px;
  }
}
.banner-section .banner-inside .item .banner-content .banner-buttons .banner-btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 10px 35px;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 16px;
  width: -moz-max-content;
  width: max-content;
}
.banner-section .banner-inside .item .banner-content .banner-buttons .banner-btn::after {
  transition: all 0.3s ease;
}
.banner-section .banner-inside .item .banner-content .banner-buttons .banner-btn.banner-btn-left {
  background-color: #F5A117;
  border-radius: 50px;
  color: #2B2B33;
  box-shadow: 0 0 6px rgba(245, 161, 0, 0.8);
  font-weight: 300;
}
.banner-section .banner-inside .item .banner-content .banner-buttons .banner-btn.banner-btn-left::after {
  content: url(../images/icons/arrow-black-x.svg);
}
.banner-section .banner-inside .item .banner-content .banner-buttons .banner-btn.banner-btn-left:hover {
  color: #fff;
  background-color: transparent;
  box-shadow: none;
}
.banner-section .banner-inside .item .banner-content .banner-buttons .banner-btn.banner-btn-left:hover::after {
  content: url(../images/icons/arrow-orange-x.svg);
}
.banner-section .banner-inside .item .banner-content .banner-buttons .banner-btn.banner-btn-right {
  color: #fff;
  background-color: transparent;
  box-shadow: none;
  border-radius: 50px;
}
.banner-section .banner-inside .item .banner-content .banner-buttons .banner-btn.banner-btn-right::after {
  content: url(../images/icons/arrow-orange-x.svg);
}
.banner-section .banner-inside .item .banner-content .banner-buttons .banner-btn.banner-btn-right:hover {
  background-color: #F5A117;
  color: #2B2B33;
  box-shadow: 0 0 6px rgba(245, 161, 0, 0.8);
}
.banner-section .banner-inside .item .banner-content .banner-buttons .banner-btn.banner-btn-right:hover::after {
  content: url(../images/icons/arrow-black-x.svg);
}
.banner-section .banner-inside .item .banner-img {
  margin-left: auto;
}
@media all and (max-width: 1500px) {
  .banner-section .banner-inside .item .banner-img {
    min-width: 55%;
    padding-left: 50px;
  }
}
@media all and (max-width: 1100px) {
  .banner-section .banner-inside .item .banner-img {
    min-width: 0;
    padding-left: 0px;
    width: 50%;
  }
}
@media all and (max-width: 850px) {
  .banner-section .banner-inside .item .banner-img {
    width: 100%;
  }
}
.banner-section .banner-inside .item .banner-img img {
  width: 100%;
}
@media all and (max-width: 1366px) {
  .banner-section .banner-inside .item .banner-img img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.scroll-down {
  position: absolute;
  font-weight: 300;
  cursor: pointer;
  left: 149px;
  top: 50%;
  z-index: 20;
}
@media all and (max-width: 1885px) {
  .scroll-down {
    left: 50px;
  }
}
@media all and (max-width: 1550px) {
  .scroll-down {
    top: 35%;
  }
}
@media all and (max-width: 1200px) {
  .scroll-down {
    top: 50%;
  }
}
@media all and (max-width: 767px) {
  .scroll-down {
    display: none;
  }
}
.scroll-down::after {
  content: "";
  position: absolute;
  top: 136px;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 1013px;
  background: rgb(245, 161, 0);
  background: linear-gradient(180deg, rgb(245, 161, 0) 0%, rgba(0, 0, 0, 0) 100%);
  box-shadow: 0 0 66px rgba(246, 198, 68, 0.8);
  z-index: 1;
  pointer-events: none;
}
.scroll-down::before {
  content: "";
  position: absolute;
  top: 126px;
  width: 30px;
  height: 30px;
  background: #F5A117;
  box-shadow: 0 0 36px rgba(246, 198, 68, 0.8);
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  animation: flow-vertical 5s cubic-bezier(0.78, 0.97, 1, 1) 5s infinite;
}

@keyframes flow-vertical {
  0% {
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background: #F5A117;
  }
  15% {
    opacity: 1;
    left: 50%;
    transform: translate(-50%, 0);
    background: #F5A117;
  }
  100% {
    left: 50%;
    transform: translate(-50%, 1000px) scale(0.2);
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.banner-continue {
  background-color: #092641;
  padding-top: 81px;
}
@media all and (max-width: 992px) {
  .banner-continue {
    padding-top: 65px;
  }
}
@media all and (max-width: 768px) {
  .banner-continue {
    padding-top: 50px;
  }
}
@media all and (max-width: 767px) {
  .banner-continue {
    padding-top: 35px;
  }
}
.banner-continue .inside .presentations {
  margin-bottom: 70px;
}
@media all and (max-width: 1600px) {
  .banner-continue .inside .presentations {
    padding-left: 75px;
  }
}
@media all and (max-width: 767px) {
  .banner-continue .inside .presentations {
    padding-left: 12px;
    margin-bottom: 45px;
  }
}
@media all and (max-width: 575px) {
  .banner-continue .inside .presentations {
    margin-bottom: 30px;
  }
}
.banner-continue .inside .presentations .title-1 {
  font-size: 20px;
  font-family: "Helvetica Neue";
  font-weight: normal;
  margin-bottom: 5px;
}
.banner-continue .inside .presentations .content {
  font-size: 30px;
  margin-bottom: 0;
}
@media all and (max-width: 992px) {
  .banner-continue .inside .presentations .content {
    font-size: 22px;
  }
}
@media all and (max-width: 767px) {
  .banner-continue .inside .presentations .content {
    font-size: 19px;
  }
}
@media all and (max-width: 992px) {
  .banner-continue .inside .presentations .content br {
    display: none;
  }
}
.banner-continue .inside .box {
  padding: 77px 30px 65px;
  border-radius: 20px;
  background-color: #082B4B;
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease;
  position: relative;
  z-index: 21;
  max-height: 425px;
}
@media all and (max-width: 767px) {
  .banner-continue .inside .box {
    padding: 50px 45px;
  }
}
@media all and (max-width: 575px) {
  .banner-continue .inside .box {
    padding: 35px 25px;
  }
}
.banner-continue .inside .box .box-img {
  margin-bottom: 62px;
  max-height: 87px;
}
@media all and (max-width: 767px) {
  .banner-continue .inside .box .box-img {
    margin-bottom: 25px;
  }
}
@media all and (max-width: 575px) {
  .banner-continue .inside .box .box-img img {
    width: 70px;
  }
}
.banner-continue .inside .box .text {
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
}
@media all and (max-width: 767px) {
  .banner-continue .inside .box .text {
    margin-bottom: 35px;
    font-size: 21px;
  }
}
.banner-continue .inside .box .text span {
  font-weight: 300;
}
@media all and (max-width: 575px) {
  .banner-continue .inside .box .arrow img {
    width: 30px;
  }
}
.banner-continue .inside .box:hover {
  box-shadow: 0px 0px 26px 0px rgba(245, 161, 0, 0.6);
}

.to-white {
  background-color: #fff !important;
  color: #000 !important;
  transition: background 1s ease;
}
.to-white.ant-screen {
  background-image: url(../images/bg-ant.png);
  background-color: #fff;
}

.to-main {
  background-color: #fff !important;
  transition: background 1s ease;
}
.to-main:hover {
  background: #092641 !important;
  color: #fff !important;
}

.to-white-area {
  transition: background 1s ease, color 1s ease;
  background-color: #092641;
  color: #fff;
}
.to-white-area #referancesHome {
  padding-top: 70px;
}
.to-white-area #referancesHome .references-inside .slick-slide img {
  width: auto !important;
}
.to-white-area #referancesHome .swiper-wrapper {
  transition-timing-function: linear;
}
.to-white-area #referancesHome .swiper-wrapper img {
  width: auto;
}
.to-white-area #ourServicesHome {
  padding-top: 80px;
}
.to-white-area #ourServicesHome .summary {
  font-weight: 300;
}

.title-47-thin {
  font-size: 47px;
  font-weight: 100;
}

.btn-1 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 28px;
  padding-right: 55px;
  height: 45px;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid #BFBFBF;
  border-radius: 50px;
  font-weight: 300;
  position: relative;
  transition: all 0.3s ease;
}
.btn-1::after {
  content: url(../images/icons/arrow-orange-x.svg);
}
.btn-1:hover {
  border: 1px solid #F5A117;
  box-shadow: 0 0 6px #F5A117;
}/*# sourceMappingURL=style.css.map */